LastMileBowlingKata/obj/Debug/net8.0/LastMileBowlingKata.AssemblyInfo.cs
LastMileBowlingKata/obj/Debug/net8.0/LastMileBowlingKata.AssemblyInfo.cs
LastMileBowlingKata/obj/Debug/net8.0/LastMileBowlingKata.AssemblyInfo.cs
LastMileBowlingKata/obj/Debug/net8.0/LastMileBowlingKata.AssemblyInfoInputs.cache
LastMileBowlingKata/obj/Debug/net8.0/LastMileBowlingKata.assets.cache
LastMileBowlingKata/obj/Debug/net8.0/LastMileBowlingKata.GeneratedMSBuildEditorConfig.editorconfig
LastMileBowlingKataTest/bin/Debug/net8.0/CoverletSourceRootsMapping_LastMileBowlingKataTest
LastMileBowlingKataTest/obj/Debug/net8.0/LastMileBowlingKataTest.AssemblyInfo.cs
LastMileBowlingKataTest/obj/Debug/net8.0/LastMileBowlingKataTest.AssemblyInfoInputs.cache
LastMileBowlingKataTest/obj/Debug/net8.0/LastMileBowlingKataTest.assets.cache
LastMileBowlingKataTest/obj/Debug/net8.0/LastMileBowlingKataTest.GeneratedMSBuildEditorConfig.editorconfig
LastMileBowlingKata/obj/Debug/net8.0/LastMileBowlingKata.AssemblyInfo.cs
LastMileBowlingKata/obj/Debug/net8.0/LastMileBowlingKata.AssemblyInfo.cs
LastMileBowlingKata/obj/Debug/net8.0/LastMileBowlingKata.AssemblyInfoInputs.cache
LastMileBowlingKata/obj/Debug/net8.0/LastMileBowlingKata.GeneratedMSBuildEditorConfig.editorconfig
LastMileBowlingKataTest/bin/Debug/net8.0/CoverletSourceRootsMapping_LastMileBowlingKataTest
LastMileBowlingKataTest/obj/Debug/net8.0/LastMileBowlingKataTest.AssemblyInfo.cs
LastMileBowlingKataTest/obj/Debug/net8.0/LastMileBowlingKataTest.AssemblyInfoInputs.cache
LastMileBowlingKataTest/obj/Debug/net8.0/LastMileBowlingKataTest.csproj.AssemblyReference.cache
LastMileBowlingKataTest/obj/Debug/net8.0/LastMileBowlingKataTest.GeneratedMSBuildEditorConfig.editorconfig
